.new-reservation
  %h2 Receive Bag(s)

  = render "validation_errors"

  .new-form
    = form_for @reservation do |f|
      .form-row
        = f.label :bags_owner, "Bag's Owner"
        = f.search_field :bags_owner, list: 'customers', 
                                placeholder: "RoomNumber, Name"
        %datalist#customers
          - Customer.checked_in.room_order.each do |customer|
            %option{value: "#{customer.identifier}"}

      %p Number of bags
      .form-row
        = f.label :large
        = f.number_field :large,  in: 0..@max_bags_allowed[:large],  step: 1

        = f.label :medium
        = f.number_field :medium, in: 0..@max_bags_allowed[:medium], step: 1

        = f.label :small
        = f.number_field :small,  in: 0..@max_bags_allowed[:small],  step: 1

      = f.submit "Make Reservation"
