.search-reservations
  %h2 Return Bag(s)

  .search-form
    = form_tag(searching_reservations_path, method: :get) do
      .form-row
        = label_tag :reservation_number, "Reservation Number"
        = search_field_tag(:reservation_number, params[:reservation_number], 
                                          list: 'reservation-numbers')
        %datalist#reservation-numbers
          - Reservation.all.number_order.each do |reservation|
            %option{value: "#{reservation.number}"}

      = submit_tag "Find Reservation"
