- provide(:title, "Reservation")

.show-reservation
  %h2= "Reservation for #{ @reservation.customer.full_name }"

  = render "ticket"

  = render "lockers"

  .left-link.top-link
    = link_to "Print Ticket", print_ticket_reservation_path(@reservation)
  .right-link.top-link
    = link_to "Print Lockers ", print_lockers_reservation_path(@reservation)

  %br

  .left-link
    = link_to "Bag(s) Received", root_path, class: 'alt-link'
  .right-link
    = link_to "Bag(s) Returned", @reservation, method: :delete, 
                                 class: 'danger-link'
