<!DOCTYPE html>
%html
  %head
    %title= page_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 
                             'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

  %body{class: "#{ controller_name } #{ action_name }"}
    .global-holder

      = render "layouts/header"

      .content-container
        = render "layouts/flash"

        .row-container
          .main-container
            = yield

        / = debug(params) if Rails.env.development?
